* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-size: 20px;
    min-height: 100vh;
}
.bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("tet.jpg");
    opacity: 0.8;
}

.text-center {
    text-align: center;
}

.todos {
    width: 500px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
}

h2 {
    margin-top: 20px;
}

.todos_create {
    display: flex;
}
.todos_create input,
.todos_create button {
    outline: none;
    border: 1px solid #badc00;
    box-shadow: 0 0 3px greenyellow;
}
.todos_create input {
    padding: 10px 15px;
    border-radius: 5px 0 0 5px;
    
    width: 80%;
}
.todos_create button {
    width: 20%;
    border-radius: 0 5px 5px 0;
    background-color: #dcff87;
    cursor: pointer;
    transition: .2s;
}
.todos_create button:hover {
    box-shadow: 0 0 8px greenyellow;
}

.todos_items {
    margin-top: 20px;
}

.todo_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid #00cece;
    background: #f8ffdc;
}
.todo_item.editing {
    padding: 0;
    box-shadow: #423838;
}

.todo_item.editing .edit_item_input,
.todo_item.editing .edit_done_button {
    display: block !important;
}

.todo_item.editing .todo_item_is_done,
.todo_item.editing .edit_item,
.todo_item.editing .remove_item,
.todo_item.editing p {
    display: none !important;
}

.todo_item:not(:last-child) {
    border-bottom: none;
}

.todo_item_is_done {
    width: 18px;
    height: 18px;
}

.edit_item_input,
.edit_done_button {
    display: none;
}
.edit_item_input {
    width: 100%;
    font-size: 1em;
    padding: 12px 80px 12px 20px;
}

.edit_done_button {
    position: absolute;
    padding: 5px 10px;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}

.todo_item .todo_item_is_done {
    /* margin-right: 15px; */
    cursor: pointer;
}

.todo_item .edit_item,
.todo_item .remove_item {
    border: none;
    outline: none;
    border: 1px solid black;
    padding: 4px 15px;
    cursor: pointer;
    font-size: 0.8em;
    transition: .25s;
}

.edit_item {
    border-right: none !important;
    border-radius: 5px 0 0 5px;
}
.edit_item:hover {
    background-color: yellow;
}
.remove_item {
    border-radius: 0 5px 5px 0;
}
.remove_item:hover {
    background-color: tomato;
    color: #fff;
}

.todo_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter {
    margin-top: 20px;
    width: 100%;
    display: flex;
    box-shadow: 0 0 20px 10px #ffffff;
}

.filter button {
    position: relative;
    outline: none;
    font-size: 0.6em;
    letter-spacing: 1.2px;
    width: 33.3333%;
    padding: 5px 5px;
    text-align: center;
    border: 1px solid #b3d9ff;
    background: #ebf5ff;
    color: #3c9dff;
    cursor: pointer;
    transition: .2s;
}
.filter button:hover {
    z-index: 123;
    box-shadow: 0 0 3px blueviolet;
}
.filter button.active {
    background: #c9e9f3;
}
.filter button:first-child {
    border-radius: 6px 0 0 6px;
}
.filter button:nth-child(2) {
    border-left: none;
    border-right: none;
}
.filter button:last-child {
    border-radius: 0 6px 6px 0;
}

.filter span {
    color: red;
    font-weight: bold;
}